{% extends 'base.html.twig' %}

{% block body %}
    <h1>CompteVoyageur</h1>

    <table class="table tablesaw table-striped mb0" data-tablesaw-mode="swipe" data-tablesaw-mode-switch
               data-tablesaw-minimap>
           <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compteVoyageur.id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if compteVoyageur.created %}{{ compteVoyageur.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ compteVoyageur.phone }}</td>
            </tr>
            <tr>
                <th>Emails</th>
                <td>{% if compteVoyageur.emails %}{{ compteVoyageur.emails|join(', ') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comptevoyageur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('comptevoyageur_edit', { 'id': compteVoyageur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
