{% extends 'base.html.twig' %}

{% block body %}
    <h1>Voyageur</h1>

    <table class="table tablesaw table-striped mb0" data-tablesaw-mode="swipe" data-tablesaw-mode-switch
               data-tablesaw-minimap>
           <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voyageur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ voyageur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ voyageur.prenom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('voyageur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('voyageur_edit', { 'id': voyageur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
