{% extends 'base.html.twig' %}

{% block body %}
    <h3>Modifier un conducteur </h3>
<div class="row">
    {{ form_start(edit_form) }}

    <div class="col-md-4 col-md-offset-1">
        {{ form_row(edit_form.nom) }}
         {{ form_row(edit_form.prenoms) }}
           {{ form_row(edit_form.contact) }}
          {{ form_row(edit_form.email) }}

            <a class="btn btn-primary"  href="{{ path('conducteur_index') }}">Liste des conducteurs</a>

</div>
 <div class="col-md-4">
        {{ form_row(edit_form.permis) }}
        {{ form_row(edit_form.lieuDeNaissance) }}
        {{ form_row(edit_form.dateNaissance, {'id':'calendarNaiss','attr':
        {'class':'form-control datepickerSimple'}}) }}
         {{ form_row(edit_form.path) }}
      <input type="submit" class="btn btn-success" value="Valider" />

</div>
    {{ form_end(edit_form) }}

</div>
{% endblock %}
