{% extends 'base.html.twig' %}

{% block body %}
    <h3>Ajouter un conducteur </h3>
<div class="row">
    {{ form_start(form) }}

    <div class="col-md-4 col-md-offset-1">
        {{ form_row(form.nom) }}
         {{ form_row(form.prenoms) }}
           {{ form_row(form.contact) }}
          {{ form_row(form.email) }}

          <a class="btn btn-primary"  href="{{ path('conducteur_index') }}">Liste des conducteurs</a>

</div>
 <div class="col-md-4">
        {{ form_row(form.permis) }}
        {{ form_row(form.lieuDeNaissance) }}
        {{ form_row(form.dateNaissance, {'id':'calendarNaiss','attr':
        {'class':'form-control datepickerSimple'}}) }}
         {{ form_row(form.path) }}
      <input type="submit" class="btn btn-success" value="Ajouter" />

</div>
    {{ form_end(form) }}

</div>
{% endblock %}
